package com.biorecorder.basechart.grouping;


public class #E#GroupClose extends #E#GroupFunction {
    private #e# last;

    @Override
    protected void add1(#e# value) {
        last = value;
    }

    @Override
    protected #e# groupValue1() {
        return last;
    }
}