package com.biorecorder.data.aggregation.impl;

import com.biorecorder.data.sequence.#E#Sequence;


public class #E#Count extends #E#AggregateFunction {

    @Override
    protected #e# groupValue1() {
        return (#e#) count;
    }
}
