package com.biorecorder.data.aggregation.impl;

import com.biorecorder.data.sequence.#E#Sequence;


public class #E#High extends #E#AggregateFunction {
    private #e# max;

    @Override
    protected void addToGroup1(#E#Sequence sequence, long from, long length) {
        if(count == 0) {
            max = sequence.get(from);
        }
        long till = from + length;
        for (long i = from; i < till; i++) {
            max = (#e#) Math.max(max, sequence.get(i));
        }
        count += length;
    }

    @Override
    protected #e# groupValue1() {
        return max;
    }
}
