package com.biorecorder.data.aggregation.impl;

import com.biorecorder.data.sequence.#E#Sequence;


public class #E#Open extends #E#AggregateFunction {
    private #e# first;


    @Override
    protected void addToGroup1(#E#Sequence sequence, long from, long length) {
        if(count == 0) {
            first = sequence.get(from);
        }
        count +=length;
    }


    @Override
    protected #e# groupValue1() {
        return first;
    }
}
