package com.biorecorder.data.frame.impl;

import com.biorecorder.data.sequence.IntSequence;
import com.biorecorder.data.utils.PrimitiveUtils;


class #E#Average extends #E#AggFunction {
    private long sum;

    @Override
    public int add(#E#Sequence sequence, int from, int length) {
        if(count == 0) {
            sum = 0;
        }
        for (int i = 0; i < length; i++) {
           sum += sequence.get(from + i);
        }
        count +=length;
        return count;
    }

    @Override
    protected #e# getValue1() {
        return PrimitiveUtils.long2#e#(sum / count);
    }
}