package com.biorecorder.data.sequence;

/**
 * Interface that represents a set of indexed data of type #e# (like array)
 * that can be accessed but can not be modified
 */
public interface #E#Sequence {
    public int size();
    public #e# get(int index);
}