package com.biorecorder.util.series;

public class #E#RegularSeries implements #E#Series {
    protected #e# dataInterval;
    protected #e# startValue;
    protected long size = Long.MAX_VALUE;

    public #E#RegularSeries(#e# startValue, #e# dataInterval, long size) {
        this.dataInterval = dataInterval;
        this.startValue = startValue;
        this.size = size;
    }

    public #E#RegularSeries(#e# startValue, #e# dataInterval) {
        this(startValue, dataInterval, Long.MAX_VALUE);
    }

    public void size(long size) {
        this.size = size;
    }

    @Override
    public long size() {
        return size;
    }

    @Override
    public #e# get(long index) {
        rangeCheck(index);
        return (#e#)(startValue + dataInterval * index);
    }

    public #e# getDataInterval() {
        return dataInterval;
    }

    private void rangeCheck(long index) {
        if (index >= size || index < 0)
            throw new IndexOutOfBoundsException(outOfBoundsMsg(index));
    }

    private String outOfBoundsMsg(long index) {
        return "Index: "+index+", Size: "+size;
    }
}
